.divForm > * {
  margin: 0 auto;
  text-align: center;
}

form {
  width: 600px;

  & > div {
    display: flex;

    &:first-child {
      margin-top: 20px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 10px;
    }

    & > .whiteBorder {
      width: 100%;
      flex-direction: row;
    }
  }
}

.sign-up-form {
  .radio-inputs {
    box-sizing: border-box;
    padding: 0 10px ;
    &.error{
      border: 1px solid red;
      border-radius: 10px;
    }
  }
  .login {
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    margin: 5px;
    width: 100%;
    background-color: #28d2d0;
    color: white;
    border: none;
    border-radius: 5px;

    &:disabled {
      background-color: #9fcecd;
    }
  }

  .input {
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
    width: 100%;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;

    &.error {
      border: 1px solid red;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .error_message {
    color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
  }
}


.inputRadio {
  margin: 20px;
}

.whiteBorder {
  display: flex;
  text-align: left;
  margin: 20px 0;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.radio-inputs {
  display: block;
  width: 100%;
}